<form>  
  <div>
    <label>Numero 1</label><br>
    <input type="number" name="num1" #num1>
  </div>
  <div>
    <label>Numero 2</label><br>
    <input type = "number" name="num2" #num2>
  </div>

  <button (click) = "addizione (num1, num2)">+</button>

  <button (click) = "sottrazione (num1, num2)">-</button>

  <button (click) = "divisione (num1, num2)">/</button> 

  <button (click) = "moltiplicazione (num1, num2)">*</button> 
</form>

<app-risultato [risultato] = "myRisultato"></app-risultato>
<app-risultato></app-risultato>